<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Meet Up !</title>
</head>
<body>
    <nav>
        <ul style="list-style-type: none;">
            <li style = "display: inline; padding: 5px;" ><a href="/events">Events</a></li>
            <li style = "display: inline;padding: 5px;"><a href="/promoters">Promoters</a></li>
            <li style = "display: inline;padding: 5px;"><a href="/events/expired">Expired Events</a></li>
        </ul>
    </nav>

    <h1>Future Events</h1>
    <br>

    <a href="/events/add"> Add Event</a>
    <br>
    <table style="width:100%"; border="1"> 
        <tr>
          <th>Event</th>
          <th>Date</th>
          <th>Location</th>
          <th>Promoter</th>
          <th>Atendees</th>
          <th>Action</th>
        </tr>
        <% data.forEach((el, i) => { %>
        <tr>
          <td><%= el.generateEvent() %></td>
          <td><%= formatDate(el.date) %></td> <!-- ganti format --> 
          <td><%= el.location %></td>
          <td><%= el.Promoter.name %></td>
          <td></td>
          <td><a href="/events/register/<%= el.id %>">ATTEND</a> |
            <a href="/events/edit/<%= el.id %>">EDIT</a>       
        </tr>
        <% }) %>
      </table>
</body>
</html>