<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <%- include('../views/utils/bootstrap-style.ejs') %>

    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <div><%- include('../views/utils/navbar.ejs') %></div>

    <h1><%= title %></h1>
    <p>Welcome to <%= title %></p>
  </body>
</html>
